.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin-top: 62px;

  border-top: 1px solid #bfc4c9;

  &__description {
    margin: 16px 0;
  }

  &__social {
    display: inline-flex;
    gap: 24px;
    align-items: flex-start;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
  }

  @media screen and (width <= 590px) {
    justify-content: center;

    &__social {
      margin-bottom: 8px;
    }

    &__description {
      text-align: center;
    }
  }
}
