.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  height: 56px;
  margin-top: 62px;

  border-top: 1px solid #bfc4c9;

  &__social {
    display: inline-flex;
    gap: 24px;
    align-items: flex-start;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
  }

  @media screen and (width <= 520px) {
    justify-content: center;
  }
}
