.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-weight: var(--font-weight-semibold);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: var(--font-letter-spacing-lg);

  border: none;
  border-radius: 30px;
}

.lg {
  width: 160px;
  height: 52px;
  font-size: var(--font-size-btn-lg);
  line-height: var(--line-height-sub-lg);
}

.sm {
  width: 120px;
  height: 40px;
  font-size: var(--font-size-btn-sm);
  line-height: 18px var(--line-height-sub-sm);
}

.primary {
  background-image: var(--button-primary-bg);

  &:disabled {
    background: var(--grey-black-10);
  }

  &:not([disabled]):hover {
    border: 1px solid var(--button-color-primary);
    box-shadow: var(--button-hover-shadow);
  }

  &:not([disabled]):target {
    box-shadow: var(--button-target-shadow);
  }
}

.secondary {
  color: var(--main-dark);
  background: var(--main-white);
  border: 1px solid var(--grey-black-20);

  &:disabled {
    color: var(--grey-black-40);
    background: var(--grey-black-5);
  }

  &:not([disabled]):hover {
    box-shadow: var(--button-hover-shadow);
  }

  &:not([disabled]):target {
    box-shadow: var(--button-target-shadow);
  }
}

.text {
}
