.layout {
  &__block {
    height: 100%;
  }

  &__content {
    display: flex;
    margin-top: 62px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 30px;
  }

  &__wrap {
    margin-top: 32px;
  }
}

.books {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 1110px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 32px 0 0;

  border: 1px solid blue;
}
