.rating {
  display: flex;

  &__value {
    margin-left: 24px;

    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 156%;
    color: var(--main-dark);
    letter-spacing: 0.01em;
  }
}
