.header {
  display: flex;
  align-items: center;
  height: 105px;
  padding-top: 32px;

  &__logo {
    cursor: pointer;

    display: flex;
    flex-shrink: 0;
    align-items: center;

    margin-right: 99px;

    background-color: var(--color-white);
    border: none;

    & svg {
      margin: 8px 0 8px 8px;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
  }

  &__person {
    display: flex;
    align-items: center;

    & p {
      margin-right: 16px;
    }

    & img {
      flex-shrink: 0;
      width: 58px;
      height: 58px;
    }
  }

  @media screen and (width <= 960px) {
    height: 94px;

    &__logo {
      display: none;
    }
  }

  @media screen and (width <= 560px) {
    height: 76px;
    padding-top: 24px;

    &__person {
      display: none;
    }
  }
}

.menu {
  cursor: pointer;

  display: none;

  width: 32px;
  height: 32px;
  margin-right: 24px;

  background-color: var(--color-white);
  border: none;

  @media screen and (width <= 960px) {
    display: block;
  }
}
