.header {
  display: flex;
  align-items: center;
  height: 58px;
  margin-top: 32px;

  &__logo {
    display: flex;
    align-items: center;
    min-width: 280px;

    & svg {
      margin: 8px 0 8px 8px;
    }

    @media screen and (width <= 960px) {
      display: none;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
  }

  &__person {
    display: flex;
    align-items: center;

    & p {
      margin-right: 16px;
    }

    & img {
      width: 58px;
      height: 58px;
    }
  }
}

.menu {
  cursor: pointer;

  width: 32px;
  height: 32px;
  margin-right: 24px;

  background-color: var(--color-white);
  border: none;
}
