:root {
  /* Global colors */
  --color-white: #fff;
  --main-dark: #363636;
  --grey-black-40: #A7A7A7;
  --button-hover: linear-gradient(90deg, #F83600 -53.35%, #F9D423 297.76%);
  --box-shadow: 0 1px 5px 0 rgba(191, 196, 201, 24%), 0 3px 4px 0 rgba(191, 196, 201, 18%), 0 2px 4px 0 rgba(191, 196, 201, 20%);
}
