.books {
  display: flex;
  margin-top: 32px;

  &_grid {
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (width <= 960px) {
      gap: 32px 35px;
    }

    @media screen and (width <= 690px) {
      justify-content: center;
    }
  }

  &_list {
    flex-direction: column;
    gap: 16px;
  }

  @media screen and (width <= 960px) {
    margin-left: 0;
  }
}
