.bookInfoLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 27px;
}


@media screen and (width <= 960px){
  .bookInfoLayout {
    margin-top: 24px;
  }
}


@media screen and (width <= 560px){
  .bookInfoLayout {
    margin-top: 8px;
  }
}