.card {
  cursor: pointer;

  display: flex;

  background: var(--main-white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__description {
    line-height: var(--line-height-sub-sm);
    color: var(--grey-black-70);
    letter-spacing: var(--font-letter-spacing-md);
  }

  &__button {
    display: flex;
    justify-content: center;

    &_size {
      width: 166px;
      font-size: 12px;
    }
  }
}

.grid {
  flex-direction: column;
  width: 190px;
  height: 470px;
  padding: 8px 8px 16px;

  .card {
    &__title {
      justify-content: center;
      margin-top: 16px;
    }

    &__rating {
      margin-top: 16px;
    }

    &__button {
      margin-top: 16px;
    }
  }

  @media screen and (width <= 470px) {
    align-items: center;
    width: 288px;

    .card__button_size {
      width: 256px;
    }
  }
}

.list {
  height: 202px;
  padding: 16px;

  .card {
    display: block;

    &__wrap {
    }

    &__img {
      margin-right: 16px;
    }

    &__title {
      max-height: 64px;
      font-size: 22px;
      line-height: 32px;
    }

    &__description {
      font-size: var(--font-size-body-lg);
      line-height: var(--line-height-body-lg);
    }

    &__block {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-top: 24px;
      margin-bottom: 14px;
    }
  }

  @media screen and (width <= 960px) {
    height: 240px;

    .card__title {
      max-height: 120px;
      font-size: var(--font-size-h4);
      line-height: var(--line-height-h4);
    }
  }

  @media screen and (width <= 560px) {
    height: 182px;
    padding-left: 8px;

    .card {
      &__img {
        margin-right: 8px;
      }

      &__title {
        font-size: var(--font-size-sub-sm);
        line-height: var(--line-height-sub-sm);
      }

      &__description {
        font-size: 12px;
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-btn-sm);
      }

      &__block {
        flex-direction: column;
        align-items: start;
        margin-top: 3px;
        margin-bottom: 0;
      }

      &__rating {
        & svg {
          width: 16px;
          height: 16px;
        }
      }

      &__button {
        margin-top: 16px;

        &_size {
          width: 186px;
        }
      }
    }
  }
}
